# Add files names (and patterns) you want git to ignore here.

# Ignore compiled C/C++ files.
*.o

# Ignore PYC files.
*.pyc

*.gz

*.csv

# Ignore everything in the build directory.
build/

staticfiles/