import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'braikout',
        'USER': 'postgres',
        'PASSWORD': '8y6lpfyz'
    }
}
