<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{{ coin }}</title>
    <script src="https://use.fontawesome.com/a51214a446.js"></script>
</head>
<body>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css'%}" />
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Carme" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>



<nav class="navbar navbar-dark bg-dark">
    <div class ="container-fluid">
        <!-- logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topNavBar"  aria-controls="#topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}"><span class="glyphicons glyphicons-lightbulb"></span>Braikout &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a class="navbar-brand" id="btcprice" href="{% url 'dashboard:index' %}">BTC: Loading...<span class="glyphicons glyphicons-lightbulb"></span> </a>
            <a class="navbar-brand" id="ethprice" href="{% url 'dashboard:index' %}">ETH: Loading...<span class="glyphicons glyphicons-lightbulb"></span> </a>
            <a class="navbar-brand" id="ltcprice" href="{% url 'dashboard:index' %}">LTC: Loading...<span class="glyphicons glyphicons-lightbulb"></span> </a>
            <a class="navbar-brand" id="eurprice" href="{% url 'dashboard:index' %}">EUR: Loading...<span class="glyphicons glyphicons-lightbulb"></span> </a>
        </div>
    </div>
</nav>

<div class="wrapper">
    <nav id="sidebar">
        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li><!--Crypto menu -->
                <span class="glyphicons glyphicons-snowflake"></span>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-btc" aria-hidden="true"></i>&nbsp; Trading</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    {% for coin in all_coins %}
                    {% if coin.is_favorite %}
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'dashboard:detail' coin.id %}"> {{coin.ticker}} </a></li>
                    {% else %}
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'dashboard:forex' coin.id %}"> {{coin.ticker}} </a></li>
                    {% endif %}
                    {% endfor %}
                </ul></li>
            <li><!--Data Reports menu -->
                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-bell" aria-hidden="true"></i>&nbsp; Alerts</a>
                <ul class="collapse list-unstyled" id="homeSubmenu2">
                    {% for coin in all_coins %}
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'dashboard:alerts' coin.id %}"> {{coin.ticker}} </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><!--chart analysis menu -->
                <span class="glyphicons glyphicons-stats"></span>
                <a href="#chartTa" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp; AI Chart Analysis </a>
                <ul class="collapse list-unstyled" id="chartTa">
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'chartAnalysis:btc'%}">BTC</a></li>
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'chartAnalysis:ltc'%}">LTC</a></li>
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'chartAnalysis:eth'%}">ETH</a></li>
                </ul></li>
            <li><a href="{% url 'machinelearning:visualisation' %}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; AI Prediction Tool</a></li>
            <li><!--Data Reports menu -->
                <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; Data Reports</a>
                <ul class="collapse list-unstyled" id="homeSubmenu3">
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'analytics:intraday' %}"> Today's Trading Data </a></li>
                    <li class="nav-link"><a class="nav-link-active" href="{% url 'analytics:daily' %}"> Historical Trading Data </a></li>
                </ul>
            </li>
            <li><a href="{% url 'login' %}"</li>
            <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Logout </a></li>

        </ul>
    </nav>
</div>

<canvas id="myChart" width="500" height="500" ></canvas>
<canvas id="mySentimentChart" width="500" height="500" ></canvas>
<canvas id="myPredChart" width="500" height="500" ></canvas>
<script>
    var endpoint = './api/chart/data/';
    var defaultData = [];
    var labels = [];
    var pos_data = [];
    var pos_labels = [];
    var pred_labels = [];
    var predicted_change = [];
    var numtrades = " ";
    var avg_size = " ";
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            labels = data.labels
            defaultData = data.areas
            numtrades = data.trades_made
            avg_size = data.avg_size
            document.getElementById("trade_nums").innerHTML = numtrades
            document.getElementById("avg_size").innerHTML = avg_size
            console.log(data)
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        data: defaultData,
                        label: '#Trades',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.75)',
                            'rgba(54, 162, 235, 0.75)',
                            'rgba(255, 206, 86, 0.75)',
                            'rgba(75, 192, 192, 0.75)',
                            'rgba(153, 102, 255, 0.75)',
                            'rgba(255, 159, 64, 0.75)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Today: Trade Areas',
                        fontSize: 24,
                        fontColor: 'darkslategrey'
                    },
                    responsive: false,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

            pos_labels = data.pos_labels
            pos_data = data.pos_data
            var ctx2 = document.getElementById("mySentimentChart").getContext('2d');
            var mySentimentChart = new Chart(ctx2, {
                type: 'horizontalBar',
                data: {
                    labels: pos_labels,
                    datasets: [{
                        data: pos_data,
                        label: 'Longs:Shorts',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.75)',
                            'rgba(54, 162, 235, 0.75)',
                            'rgba(255, 206, 86, 0.75)',
                            'rgba(75, 192, 192, 0.75)',
                            'rgba(153, 102, 255, 0.75)',
                            'rgba(255, 159, 64, 0.75)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Trade Positions Taken',
                        fontSize: 24,
                        fontColor: 'darkslategrey'
                    },
                    xAxisID: 0,
                    responsive: false,
                    maintainAspectRatio: true,
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }

                }
            })

            predicted_change = data.equity
            pred_labels = data.equity_labels
            var ctx3 = document.getElementById("myPredChart").getContext('2d');
            var myPredChart = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: pred_labels,
                    datasets: [{
                        data: predicted_change,
                        label: '#Trades Made Today',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.75)',
                            'rgba(54, 162, 235, 0.75)',
                            'rgba(255, 206, 86, 0.75)',
                            'rgba(75, 192, 192, 0.75)',
                            'rgba(153, 102, 255, 0.75)',
                            'rgba(255, 159, 64, 0.75)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: '24-Hour Combined Equity (USD)',
                        fontSize: 24,
                        fontColor: 'darkslategrey'
                    },
                    responsive: false,
                    maintainAspectRatio: true,

                }
            })
        }, error: function(error_data){
            console.log("Error")
            console.log(error_data)
        }
    })
</script>

<br>
<div class = 'statsTradesDaily'>
    Number of Trades Today: <p id="trade_nums"> </p> <br>
    Average Size of Today's Trades: <p id="avg_size"> </p>
</div>
<script src="https://js.pusher.com/4.2/pusher.min.js"></script>

<script type="text/javascript" src="{% static 'js/stream.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>